@import"../../index.scss";

.GuestModal {
  position: absolute;
  top: 150px;
  left: 400px;
  right: 400px;
  bottom: 150px;
  background-color: $dark-green;
  border-radius: 10px;
  font-family: "Ubuntu";
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30vw;
  margin: auto;
  

  .modal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 30vh;

    h1 {
      color: $font;
      font-size: 36px;
    }
    .guest-links:hover {
      background: $font;
      color: $dark-green;
      transition: .3s;
    }

    .guest-links {
      text-decoration: none;
      color: $font;
      border: .5px solid $font;
      border-radius: 5px;
      padding: 3%;
      margin: 1em 0 .5em 0;
      transition: .3s;
    }
  }
}

.GuestOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .75);
}

.Modal:focus{
  outline: 0;
}