@import "../../index.scss";

.users-component {
  background: $light-green;
  padding: 5%;

  color: $font;

  height: 100%;


  h1 {
    font-size: 20px;
  }

  .online {
    margin-bottom: 20px;
  }

  .user-list-item {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    width: 50%;
    // height: 6%;
    height: 30px;

    p {
      font-size: 18px;
      margin-left: 5px;
    }

    img {
      width: 30%;
      border-radius: 50%;
    }

    .online-status-color {
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }
}

.users-modal {
  background: lightgreen;

  position: absolute;
  top: 150px;
  left: 450px;
  right: 450px;
  bottom: 150px;
  background-color: $dark-green;
  border-radius: 10px;
  font-family: "Ubuntu";

  padding: 10px;
  color: $font;

  display: flex;
  align-items: center;
  justify-content: space-evenly;


  .friend-link {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
    height: 17vh;
    font-size: 14px;
    width: 25vw;

    input {
      min-width: 100%;
    }
    h1 {
      font-size: 22px;
    }
    button {
      margin: 0 auto;
    }

    p {
      margin: 0 auto;
      font-size: 20px;
    }
  }
  .close-button {
    width: 70px;

    position: absolute;
    // z-index: 2;
    top: 10px;
    right: 10px;
  }
}

.users-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
