@import "../../index.scss";

.main-dash-cont {
  background: $middle-green;
  width: 100%;
  // height: 100vh;
  color: $font;
  display: flex;
  overflow: auto;

  h1 {
    margin: 0.2em auto 0.2em 0.2em;
    font-size: 50px;
  }

  .friends-cont {
    width: 20%;
    background: $dark-green;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    h3 {
      margin: 0.3em auto;
      font-size: 24px;
    }

    h4 {
      font-size: 20px;
    }

    h5 {
      font-size: 12px;
    }

    .userList-cont {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50%;
      height: 6%;

      p {
        font-size: 20px;
      }

      img {
        width: 30%;
        border-radius: 50%;
      }

      .online-status-color {
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
    }
  }
}
