@import "../../index.scss";

.main-dash-cont {
  background: $middle-green;
  width: 100%;
  // height: 100vh;
  color: $font;
  display: flex;
  overflow: auto;

  // border: black 2px solid;

  h1 {
    margin: 0.2em 0 0.2em 0.2em;
    font-size: 50px;
  }

  .dash-list-cont {
    width: 65%;
    height: 100vh;
    // overflow: auto;

    .scrollbar {
      width: 98%;
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
      margin: auto;
      flex-wrap: wrap;
      overflow-y: auto;
      height: 90vh;
      padding: .3em 0;
      

      .dash-server-card {
        width: 19.6%;
        display: flex;
        flex-direction: column;
        
        img {
          height: 21vh;
        }

        p {
          font-size: 18px;
        }

        .single-server-main-cont{
          justify-content: flex-start;
          height: 32vh;
        }
      }
    }
  }
  

  .friends-cont {
    width: 19%;
    background: $dark-green;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    h3 {
      margin: 0.3em auto;
      font-size: 24px;
    }

    h4 {
      font-size: 20px;
      margin: 0.3em 0;
    }

    h5 {
      font-size: 12px;
      margin: .3em 0;
    }

    .userList-cont {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50%;
      margin: 0.3em 0;

      p {
        font-size: 20px;
      }

      img {
        width: 30%;
        border-radius: 50%;
        height: 6vh;
      }

      .online-status-color {
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
    }
  }
}


#style-8::-webkit-scrollbar-track {
  box-shadow: none; 
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d3d3d3;
  border-radius: 10px;
}

#style-8::-webkit-scrollbar {
  width: 10px;
}

#style-8::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.6);
}
#style-8::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.7);
}
