.message-card {
  margin: 10px;
  padding: 1%;
  //   background: lightgreen;
  width: 30vw;

  display: flex;
  // border: black 1px solid;

  border-top: 1px black solid;

  .left-icon {
    background: white;
    border-radius: 10px;
    img {
      height: 50px;
    }
  }

  .inside-message {
    // background: lightgreen;
    width: 100%;
  }
}
