.outerMostLoginWrapper {
  border: 1px solid black; 
  display: flex;
  justify-content: center; 

  .loginBox {
    // border: 1px solid black;
    // display: flex;
    // justify-content: center; 
  }
}

