@import "../../index.scss";

.homepage {
  background-color: $light-green;
  width: 100%;
  color: $font;
  
  .homepage-links {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    padding: 30px;
  }

  // common styling for link & button tags
  .homepage-link {
    text-decoration: none; 
    color: $font;
    font: $font;
    font-weight: normal;
    font-size: 30px;
  }
  // special styling for button tags (dont need for link tags): 
  .homepage-signout-button {
    background: none; 
    border: none;
  }

  .homepage-link:hover {
    transition: 0.3s;
    text-decoration: underline;
    border: none;
  } 

  .logo-container {
    display: flex;
    justify-content: center; 
    align-content: center; 
  }

  .logo_transparent {
    display: flex; 
    justify-content: space-around;
    align-content: space-around;
  }

  .homepage-footer {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    padding: 5vh; 
    width: 60%; 
  }
  .homepage-footer-group {
    
  }
  h4 {
    text-decoration: none; 
    color: $font;
    font: $font;
    font-weight: normal;
    font-size: 30px;
    padding: 0% 10% 2% 0%;
  }
  p {
    font-weight: normal;
    font-size: 16px;
  }

}
