@import "../../index.scss"; 

// .isAuth {
//   border: 1px solid black; 
//   display: flex;
//   justify-content: center; 
// }

.login-modal {
    background: lightgreen;

  position: absolute;
  top: 150px;
  left: 450px;
  right: 450px;
  bottom: 150px;
  background-color: $dark-green;
  border-radius: 10px;
  font-family: "Ubuntu";
  // margin: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: $font;

  // .auth {
  //   height: 80%;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-evenly; 
  //   align-items: center;
  //   margin-top: 8%;

    p {
      // color: $font;
      font-size: 30px;
      text-align: center;
    }

    #firebaseui_container {
      height: 20vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; 
      align-items: center;
      // margin: none;
    }
  // }


}

.login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(76, 94, 83, 1);
}