@import "../../../index.scss";

.admin-modal {
  background: lightgreen;

  position: absolute;
  top: 150px;
  left: 450px;
  right: 450px;
  bottom: 150px;
  background-color: $dark-green;
  border-radius: 10px;
  font-family: "Ubuntu";

  padding: 10px;
  color: $font;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.admin-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
