@import "../../../index.scss";

.channels {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: $middle-green;

  // padding: 5%;

  height: 100%;

  color: whitesmoke;

  width: 100%;

  .header {
    background: $dark-green;
    padding: 2%;

    width: 100%;

    min-height: 5vh;

    font-size: 24px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: space-between;
    // text-align: left;

    .gear-div {
      height: 100%;
      position: relative;
      .settings-menu {
        display: flex;
        flex-direction: column;

        border-radius: 4px;
        // padding: 2px;

        position: absolute;
        // position: relative;
        // left: 9vw;
        top: 30px;
        left: 5px;

        background-color: whitesmoke;
        // min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;

        overflow: hidden;

        .menu-button {
          padding: 4px;
          min-width: 130px;
          text-align: left;

          border-radius: 0px;

          &:hover {
            color: #333;
            // background: darken(white, 7%);
            background: lighten($lightest-green, 40%);
          }
        }
      }

      .gear-img {
        width: 30px;
      }

      display: flex;
      justify-content: space-evenly;
      align-items: center;

      border-radius: 50%;
      transition: 0.5s;
      &:hover {
        cursor: pointer;
        // box-shadow: 0px 0px 2px 2px $light-green;
        background: lighten($light-green, 10%);
      }
    }
  }

  .title {
    font-size: 20px;
    width: 100%;
    padding: 5px;
    text-align: left;

    text-decoration: underline;
  }

  .channel-button-inactive {
    cursor: pointer;

    padding: 2%;

    margin: 1% 0;
    height: 40px;
    width: 90%;
    font-size: 18px;

    border-radius: 4px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .channel-button-inactive:hover {
    background: lighten($middle-green, 5%);
  }

  .edit-button {
    background: none;

    .edit-img {
      height: 20px;
      // z-index: 2;
    }

    &:hover {
      cursor: pointer;
      background: darken($light-green, 7%);
    }
  }

  .channel-button-active {
    background: $lightest-green;

    padding: 2%;

    margin: 1% 0;
    height: 40px;
    width: 90%;
    font-size: 18px;

    border-radius: 4px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .invite-button {
    width: 8vw;
    height: 40px;
    font-size: 20px;

    position: absolute;
    bottom: 2%;

    &:hover {
      color: #333;
      // background: darken(white, 7%);
      background: lighten($light-green, 40%);
    }
  }
}
