@import "../../../index.scss";

.channels {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: $middle-green;

  // padding: 5%;

  height: 100%;

  color: whitesmoke;

  width: 100%;

  .header {
    background: $dark-green;
    padding: 5%;

    width: 100%;

    min-height: 2em;

    font-size: 24px;
    margin-bottom: 20px;
  }

  .channel-button-inactive {
    cursor: pointer;

    padding: 2%;

    margin: 1% 0;
    height: 40px;
    width: 90%;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    border-radius: 4px;
  }

  .channel-button-inactive:hover {
    background: lighten($middle-green, 5%);
  }

  .channel-button-active {
    background: $lightest-green;

    padding: 2%;

    margin: 1% 0;
    height: 40px;
    width: 90%;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    border-radius: 4px;
  }
}
